{
  "clientId": "ocp-master",
  "enabled": true,
  "redirectUris": ["https://openshift.{{ hailstorm_dns_domain }}/*"],
  "protocol": "openid-connect",
  "clientAuthenticatorType": "client-secret",
  "publicClient": false,
  "attributes": {}
}
EOF
