{
  "name": "{{ groupname }}",
  "description": "Hailstorm {{ groupname }}",
  "kind": "{{ kind }}",
  "cloud": true,
  "host": "{{ cloud_credentials.url }}",
  "username": "{{ cloud_credentials.username }}",
  "password": "{{ cloud_credentials.password }}",
  "organization": {{ organization.id }}
  {% if cloud_credentials.project is defined %},"project": "{{ cloud_credentials.project }}"{% endif %}
  {% if cloud_credentials.domain is defined %},"domain": "{{ cloud_credentials.domain }}"{% endif %}
}
