{
  "name": "{{ groupname }}",
  "description": "Hailstorm {{ groupname }}",
  "kind": "{{ kind }}",
  "cloud": true,
  "host": "{{ credentials.url }}",
  "username": "{{ credentials.username }}",
  "password": "{{ credentials.password }}",
  "organization": {{ organization.id }}
  {% if credentials.project is defined %},"project": "{{ credentials.project }}"{% endif %}
  {% if credentials.domain is defined %},"domain": "{{ credentials.domain }}"{% endif %}
}
