{
  "source": "{{ kind }}",
  "source_path": "",
  "source_script": null,
  "source_vars": "",
  "credential": {{ credential.id }},
  "overwrite": true,
  "overwrite_vars": false,
  "update_on_launch": true
}
