{# https://bugzilla.redhat.com/show_bug.cgi?id=1355750 #}
{
  "type":"ManageIQ::Providers::Openshift{% if current_lifecycle_env.cloudforms_version == 5.7 %}Enterprise{% endif %}::ContainerManager",
  "name":"openshift.{{ hailstorm_dns_domain }}",
  "connection_configurations" : [
    {
      "endpoint": {
        "role": "default",
        "hostname":"openshift.{{ hailstorm_dns_domain }}",
        "port":"443"
      },
      "authentication": {
        "role": "bearer",
        "auth_key": "{{ ose_cmfe_token }}"
      }
    },
    {
      "endpoint": {
        "role": "hawkular",
        "hostname": "hawkular-metrics.apps.{{ hailstorm_dns_domain }}",
        "port": "443"
      },
      "authentication": {
        "role": "hawkular",
        "auth_key": "{{ ose_cmfe_token }}"
      }
    }
  ]
}
