{
  "clientId": "ocp",
  "enabled": true,
  "redirectUris": ["https://openshift.hailstorm3.coe.muc.redhat.com/*"],
  "protocol": "openid-connect",
  "clientAuthenticatorType": "client-secret",
  "publicClient": false,
  "attributes": {}
}
EOF
