<!-- This snipped is inserted via ansible into to the existing -->
<!-- nexus config file -->
  <repository>
     <id>redhat</id>
     <name>redhat</name>
     <providerRole>org.sonatype.nexus.proxy.repository.Repository</providerRole>
     <providerHint>maven2</providerHint>
     <localStatus>IN_SERVICE</localStatus>
     <notFoundCacheActive>true</notFoundCacheActive>
     <notFoundCacheTTL>1440</notFoundCacheTTL>
     <userManaged>true</userManaged>
     <exposed>true</exposed>
     <browseable>true</browseable>
     <writePolicy>READ_ONLY</writePolicy>
     <indexable>true</indexable>
     <searchable>true</searchable>
     <localStorage>
       <provider>file</provider>
     </localStorage>
     <remoteStorage>
       <url>https://maven.repository.redhat.com/ga/</url>
     </remoteStorage>
     <externalConfiguration>
     <repositoryPolicy>RELEASE</repositoryPolicy>
     <checksumPolicy>WARN</checksumPolicy>
     <fileTypeValidation>true</fileTypeValidation>
     <downloadRemoteIndex>true</downloadRemoteIndex>
     <artifactMaxAge>-1</artifactMaxAge>
     <metadataMaxAge>1440</metadataMaxAge>
     <itemMaxAge>1440</itemMaxAge>
     <autoBlockActive>true</autoBlockActive>
   </externalConfiguration>
 </repository>

 <repository>
      <id>main</id>
      <name>main</name>
      <providerRole>org.sonatype.nexus.proxy.repository.GroupRepository</providerRole>
      <providerHint>maven2</providerHint>
      <localStatus>IN_SERVICE</localStatus>
      <notFoundCacheTTL>15</notFoundCacheTTL>
      <userManaged>true</userManaged>
      <exposed>true</exposed>
      <browseable>true</browseable>
      <writePolicy>READ_ONLY</writePolicy>
      <indexable>true</indexable>
      <localStorage>
        <provider>file</provider>
      </localStorage>
      <externalConfiguration>
        <memberRepositories>
                  <memberRepository>snapshots</memberRepository>
                  <memberRepository>releases</memberRepository>
                  <memberRepository>redhat</memberRepository>
                  <memberRepository>apache-snapshots</memberRepository>
                  <memberRepository>public</memberRepository>
                </memberRepositories>
    </externalConfiguration>
  </repository>
