{
  "type":"ManageIQ::Providers::Openshift::ContainerManager",
  "name":"openshift.{{ hailstorm_dns_domain }}",
  "hostname":"openshift.{{ hailstorm_dns_domain }}",
  "ipaddress": "{{ hostvars['ose3-lb'].vm_nics[0].ip }}",
  "port":"8443",
  "credentials" : {
    "auth_type" : "bearer",
    "auth_key"  : "{{ hostvars[groups['ose3-installer'][0]].ose_cmfe_token }}"
  }
}
