parameter_defaults:
  CloudName: {{ hostvars['openstack'].hostname }}

  #if this parameter is set, the rollout will fail in ControllerLoadBalancerDeployment_Step1
  #CloudDomain: {{ hailstorm_dns_domain }}

  # Define the DNS servers (maximum 2) for the overcloud nodes
  DnsServers: [{% if ipa_available|success %}'{{ hostvars['ipa'].vm_nics[0].ip }}',{% endif %}'{{ infrastructure_address_default_dns }}']
