#!/bin/bash
set -x
# satellite 6.2.5 needs to be able to resolve the hostname (overcloud-....localdomain)
# for subscription to succeed https://bugzilla.redhat.com/show_bug.cgi?id=1405614
# however setting the value in /etc/hosts messes up the subsequent steps, hence we remove the entry
echo "$(ip addr show dev eth0 | awk '/inet /{ print $2 }' | cut -d'/' -f1) $(hostname) $(hostname -s)" >>/etc/hosts
yum -y localinstall http://{{ hostvars['satellite'].vm_nics[0].ip }}/pub/katello-ca-consumer-latest.noarch.rpm
sed -i s/^$(ip addr show dev eth0 | awk '/inet /{ print $2 }' | cut -d'/' -f1).*\$// /etc/hosts

#setting the hostname does not properly populate $(hostname -f) - the solution does not work: https://access.redhat.com/solutions/2835771
# echo hostname is $(hostname)
# echo hostname -f is $(hostname -f)
# hostnamectl set-hostname $(hostname)
# hostname $(hostname)
# echo hostname is $(hostname)
# echo hostname -f is $(hostname -f)
