BEGIN {
    in_identity=0;
    in_assignment=0;
    in_ldap=0;

    identity_driver_done=0;
    assignment_driver_done=0;

    config["identity","driver"]         = "ldap"
    config["assignment","driver"]       = "sql"
    config["ldap","url"]                = "ldap://ipa.lab.com"
    config["ldap","user"]               = "uid=openstack,cn=users,cn=accounts,dc=lab,dc=com"
    config["ldap","password"]           = "redhat01"
    config["ldap","user_tree_dn"]       = "cn=users,cn=accounts,dc=lab,dc=com"
    config["ldap","user_id_attribute"]  = "uid"
    group_tree_dn=cn=groups,cn=accounts,dc=lab,dc=com
    user_enabled_emulation = True
    user_enabled_emulation_dn = cn=enabled_users,cn=groups,cn=accounts,dc=lab,dc=com
    user_allow_create = False
    user_allow_update = False
    user_allow_delete = False

    is_port_done=0;
    host = "awk.com";
    port = "4567";
}

in_identity == 1 {
    if ($0 ~ /^driver[[:space:]]*=/) {
        print "driver=ldap";
        identity_driver_done = 1;
        next;
    } else if ($0 ~ /^\[/) {
        in_identity = 0;
        if (! identity_driver_done) {
            print "driver=ldap";
        }
    }
}

in_assignment == 1 {
    if ($0 ~ /^driver[[:space:]]*=/) {
        print "driver=sql";
        assignment_driver_done = 1;
        next;
    } else if ($0 ~ /^\[/) {
        in_assignment = 0;
        if (! assignment_driver_done) {
            print "driver=sql";
        }
    }
}

in_ldap == 1 {




    if ($0 ~ /^driver[[:space:]]*=/) {
        print "driver=sql";
        assignment_driver_done = 1;
        next;
    }
    else if ($0 ~ /^masterport[[:space:]]*=/) {
        print "masterport="port;
        is_port_done = 1;
        next;
    }
    else if ($0 ~ /^\[/) {
        in_ldap = 0;
        if (! identity_driver_done) {
            print "driver=ldap";
        }
        if (! is_port_done) {
            print "masterport="port;
        }
    }
}


/^\[identity\]/ {
    in_identity=1;
}

/^\[assignment\]/ {
    in_assignment=1;
}

/^\[ldap\]/ {
    in_ldap=1;
}

{ print; }
