# Use this environment to pass in certificates for SSL deployments.
# For these values to take effect, one of the tls-endpoints-*.yaml environments
# must also be used.
parameter_defaults:
  SSLCertificate: |
    {{ ssl_cert|indent(4) }}
  SSLIntermediateCertificate: ''
  SSLKey: |
    {{ ssl_key|indent(4) }}

resource_registry:
  OS::TripleO::NodeTLSData: /usr/share/openstack-tripleo-heat-templates/puppet/extraconfig/tls/tls-cert-inject.yaml
