parameter_defaults:
  SSLRootCertificate: |
    {{ certificate.results[1].stdout|indent(4) }}

resource_registry:
  OS::TripleO::NodeTLSCAData: /usr/share/openstack-tripleo-heat-templates/puppet/extraconfig/tls/ca-inject.yaml
