{
    "name": "{{ item|basename }}",
    "description": "",
    "job_type": "run",
    "inventory": {{ inventory.id }},
    "project": {{ project.id }},
    "playbook": "{{ item|basename }}",
    "credential": {{ credential.id }},
    "cloud_credential": null,
    "network_credential": null,
    "forks": 0,
    "limit": "",
    "verbosity": 0,
    "extra_vars": "{% if extravars.files is defined and extravars.files|selectattr('path','match','^' + item)|list|length == 1 %}{{ lookup('file', extravars.files|selectattr('path','match','^' + item)|map(attribute='path')|join(' '))|regex_replace('\n','\\n')|regex_replace('"','\"') }}{% endif %}",
    "job_tags": "",
    "force_handlers": false,
    "skip_tags": "",
    "start_at_task": "",
    "host_config_key": "",
    "ask_variables_on_launch": false,
    "ask_limit_on_launch": false,
    "ask_tags_on_launch": false,
    "ask_skip_tags_on_launch": false,
    "ask_job_type_on_launch": false,
    "ask_inventory_on_launch": false,
    "ask_credential_on_launch": false,
    "survey_enabled": false,
    "become_enabled": false,
    "allow_simultaneous": false
}
