{
"name": "{{ project_dir }}",
"description": "",
"local_path": "{{ project_dir }}",
"scm_type": "",
"scm_url": "",
"scm_branch": "",
"scm_clean": false,
"scm_delete_on_update": false,
"credential": null,
"organization": {{ organization.id }}
}
