#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom
# Use graphical install
#graphical
text
reboot
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard 'us'
# System language
lang en_US.UTF-8
# SELinux
selinux --{{ selinux_mode }}

# Network information
#network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
{% for nic in vm_nics %}
{% if nic.ip is defined and nic.ip|length > 0 %}
network --device={{ nic.dev }} --bootproto=static --ipv6=auto --ip={{ nic.ip }} --netmask={{ nic.netmask}} {% if default_route_via.netname == nic.netname %} --gateway={{ nic.default_gw }}{% endif %} {% if name_service_via.netname == nic.netname %} --nameserver={{ nic.default_gw }} {% endif %} --activate
{% elif nic.dhcp|default(false,true) %}
network --device={{ nic.dev }} --bootproto=dhcp --ipv6=auto --activate
{% else %}
network --device={{ nic.dev }} --noipv4 --noipv6 --activate
{% endif %}
{% endfor %}

network  --hostname={{ hostname }}
## repo --name="Server-HighAvailability" --baseurl=file:///run/install/repo/addons/HighAvailability
## repo --name="Server-ResilientStorage" --baseurl=file:///run/install/repo/addons/ResilientStorage
# Root password
#rootpw --iscrypted $6$IbQO5zowD8OhiKtl$3/.k3q.e5F9JuRqRXRkggL2AcOxPirviOoJeRTTIjinjUk4W1oOAnFQkeCjFoYrrgFcW3b6Eik13qcUR4JwUi/
rootpw "{{ root_password }}"
# System services
services --enabled="chronyd"
# System timezone
timezone {{ timezone }} --utc
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr
# Partition clearing informationi
zerombr
clearpart --all --initlabel
# Disk partitioning information
part /boot --fstype="{{ fstype }}" --ondisk=vda --size={{ disk.physvols.boot }}
{#part pv.123 --fstype="lvmpv" --ondisk=vda --size={{ disk.partition_table.lvmpv }}#}
part pv.123 --fstype="lvmpv" --ondisk=vda --size={{ disk.physvols.rhel }}
volgroup rhel --pesize=4096 pv.123
{#logvol swap  --fstype="swap" --size={{ disk.partition_table.swap }} --name=swap --vgname=rhel
#logvol /home  --fstype="{{ fstype }}" --size={{ disk.partition_table.home }} --name=home --vgname=rhel
#logvol /  --fstype="{{ fstype }}" --size={{ disk.partition_table.root }} --name=root --vgname=rhel#}
{% for logvol in disk.logvols %}
logvol {{ logvol.mountpoint }}  --fstype="{{ logvol.fstype }}" --size={{ logvol.size }} --name={{ logvol.name }} --vgname=rhel
{% endfor %}

%packages
@core
## chrony
kexec-tools
# need libselinux-python for ansible to work on selinux enabled RHEL6
libselinux-python

%end

%post
mkdir /root/.ssh
cat  << xxEOFxx >> /root/.ssh/authorized_keys
{{ ssh_pub_key_hailstorm }}
xxEOFxx
# RHEL6 bug workaround #1
sed -i 's/dhcp/static/' /etc/sysconfig/network-scripts/ifcfg-eth1

# RHEL6 bug workaround #2 # TODO: this will break for satellite since it will try to fetch the policy from itself.... hence permissive mode
# yum localinstall -y  http://192.168.103.20/pub/selinux-policy-3.7.19-279.el6_7.8.noarch.rpm http://192.168.103.20/pub/selinux-policy-targeted-3.7.19-279.el6_7.8.noarch.rpm

# ensure that OpenSSH does not do reverse lookups to speed up login process
echo "UseDNS no" >> /etc/ssh/sshd_config
%end
