apiVersion: v1
kind: BuildConfig
metadata:
  name: ticketmonster-pipeline
spec:
  strategy:
    jenkinsPipelineStrategy:
        jenkinsfile: |-
          node {
              stage('BuildAndDeployToDev') {
                  openshiftBuild(buildConfig: 'monster', namespace: 'ticketmonster-dev', showBuildLogs: 'true')
              }

              stage('VerifyDeployment') {
                  openshiftVerifyBuild(buildConfig: 'monster', checkForTriggeredDeployments: 'true', namespace: 'ticketmonster-dev')
                  openshiftVerifyDeployment(deploymentConfig: 'monster', namespace: 'ticketmonster-dev')
              }

              stage('RunTests') {
              }

              stage('ApproveToProd') {
                input "GO for Production?"
              }

              stage("Initiate Prod Deployment") {
                openshiftTag srcStream: 'monster', srcTag: 'latest', destinationStream: 'monster', destinationTag: 'prod', namespace: 'ticketmonster-dev'
              }

              stage("Verify Prod Deployment") {
                openshiftVerifyDeployment deploymentConfig: 'monster', namespace: 'ticketmonster-prod'
              }
          }
    type: JenkinsPipeline
