#
# GitTrigger for monster:
#
# To be placed into git container as
# /var/lib/git/ose3-ticket-monster.git/hooks/post-receive
echo "Triggering OSE build via webhook...."
curl --silent --insecure --request POST -H "Content-Type: application/json" https://{{ openshift_master_api_host_and_port }}/oapi/v1/namespaces/ticketmonster-dev/buildconfigs/monster/webhooks/secret/generic
