[{% set needscomma = [false] %}
{% for host in groups['layer2'] %}
{% if needscomma|last %},{% endif %}
{
  "name":"{{ host }}",
  "body": {
      "name": "{{ host }}",
      "description": "",
      "enabled": true,
      "variables": "{% if hostvars[host].ansible_host is defined %}ansible_host: {{ hostvars[host].ansible_host }}{% endif %}"
  },
  "post_to_related": {
    "bodies": []
  }
}
{% if needscomma.append(true) %}{% endif %}
{% endfor %}]
