{
    "name": "{{ credentialname }}",
    "description": "{{ credentialname }} Private Key",
    "kind": "ssh",
    "cloud": false,
    "host": "",
    "username": "root",
    "password": "",
    "security_token": "",
    "project": "",
    "domain": "",
    "ssh_key_data": "{{ lookup('file', './binary/' +  hailstorm_ssh_priv_key_file )|regex_replace('\n','\\n')|regex_replace('\r','') }}",
    "ssh_key_unlock": "",
    "become_method": "",
    "become_username": "",
    "become_password": "",
    "vault_password": "",
    "subscription": "",
    "tenant": "",
    "secret": "",
    "client": "",
    "authorize": false,
    "authorize_password": "",
    "organization": {{ organization.id }}
}
