<network_attachment><network id="{{ item.item.stdout }}" /><ip_address_assignments><ip_address_assignment><ip address="{{ item.item.item.ip }}" netmask="255.255.255.0" {% if item.item.item.ip |bool %}gateway="192.168.100.1"{% endif %}/><assignment_method>static</assignment_method></ip_address_assignment></ip_address_assignments></network_attachment>
