---
- name: RHEL7UnManaged
  description: RHEL7UnManaged
  script: |
    <%
       evm[:hostname] = evm[:vm_target_hostname] if evm[:hostname].blank?
       script_hostname = evm[:hostname]
       script_domainname = evm[:domainname]
       ssh_key = evm[:sshkey]
    %>#cloud-config

    cloud_init_modules:
     - migrator
     - bootcmd
     - write-files
     - growpart
     - resizefs
     - set_hostname
     - update_hostname
     - update_etc_hosts
     - rsyslog
     - users-groups
     - ssh

    hostname: <%=script_hostname%>
    fqdn: <%=script_hostname%>.<%=script_domainname%>
    manage_etc_hosts: true
    ssh_authorized_keys:
     - <%=ssh_key%>
     - {{ ssh_pub_key_hailstorm }}

    users:
    - name: root
      ssh_authorized_keys:
      - {{ ssh_pub_key_hailstorm }}
      - <%=ssh_key%>
    - name: cloud-user
      ssh_authorized_keys:
      - {{ ssh_pub_key_hailstorm }}
      - <%=ssh_key%>

    write_files:
    - path: /tmp/foreman-userdata.sh
      permissions: '0755'
      content: |
       #!/bin/bash

       sleep 60

       # add subscription manager
       # yum -t -y -e 0 install subscription-manager

       rpm -ivh http://satellite.<%=script_domainname%>/pub/katello-ca-consumer-latest.noarch.rpm

       echo "Registering the System"
       subscription-manager register --org="Default_Organization" --name=<%=script_hostname%>.<%=script_domainname%> --activationkey="AK-CV-OS-RHEL7-SERVER-TEST"

       # add the rhel rpms to install katello agent
       # subscription-manager repos --enable=rhel-7-server-satellite-tools-{{ satellite_version }}-rpms

       echo "Installing Katello Agent"
       yum -t -y -e 0 install katello-agent
       chkconfig goferd on
       katello-package-upload

    runcmd:
     - [ cloud-init-per, once, foreman-userdata, /tmp/foreman-userdata.sh ]
    output: {all: '| tee -a /root/install.userdata.log'}

    # end of example
  pxe_image_type_id: 919000000000003
  type: CustomizationTemplateCloudInit
  system:
