:foreman:
  :host: 'https://{{hostname}}'
  :username: 'admin'
  :password: '{{ root_password }}'

  # API request timeout. Set to -1 for no timeout
  # To avoid timeouts during publish content views:
  :request_timeout: -1 #seconds
