[{% set needscomma = [false] %}
{% for date_filter in lifecycle_environments|map(attribute='date_filter')|unique %}
{% if date_filter is defined %}
{% for created_filter_rule_result in created_filter_rules.results %}

{# if filter does not exist among published CVs #}
{% if content_view_version_info.results|map(attribute='stdout')|map('from_json')|selectattr('Content View Name','equalto',created_filter_rule_result.item.item.content_view)|selectattr('Description','equalto','hailstorm-' + date_filter)|list|length == 0 %}

{% if needscomma|last %},{% endif %}
{
  "date_filter":"{{ date_filter }}",
  "content_view":"{{ created_filter_rule_result.item.item.content_view }}",
  "filter_rule_id":"{% if created_filter_rule_result|skipped %}{{ (created_filter_rule_result.item.stdout|from_json)[0]['Rule ID'] }}{% else %}{{ (created_filter_rule_result.stdout|from_json)['id'] }}{% endif %}"
}
{% if needscomma.append(true) %}{% endif %}{# this is a kludge but otherwise I cannot modify the variable outside of the inner loops' scope #}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
]
