[{% set needscomma = [false] %}
{% for lifecycle_environment in lifecycle_environments %}
{% if lifecycle_environment.content_view_date_filter is defined %}
{% for content in satellite_content_config  %}

{% if lifecycle_environment.content_view_date_filter[content.content_view] is defined %}{% set date_filter = lifecycle_environment.content_view_date_filter[content.content_view] %}{% else %}{% set date_filter = lifecycle_environment.content_view_date_filter['*'] %}{% endif %}

{% set matching_cv_version = content_view_version_info2.results|map(attribute='stdout')|map('from_json')|selectattr('Content View Name','match','^' + content.content_view + '$')|selectattr('Description')|selectattr('Description','match','^hailstorm-' + date_filter + '$')|list %}
{% if matching_cv_version|length > 0 %}
{% set promoted = [] %}
{% for key, value in matching_cv_version[0]['Lifecycle Environments'].iteritems() %}
{% if promoted.append(value['Name']) %}{% endif %}
{% endfor %}

{% if lifecycle_environment.name not in promoted %}
{% if needscomma|last %},{% endif %}
{
  "id":"{{ matching_cv_version[0]['ID'] }}",
  "content_view":"{{ matching_cv_version[0]['Content View Name'] }}",
  "version":"{{ matching_cv_version[0]['Version'] }}",
  "lifecycle_environment":"{{ lifecycle_environment.name }}"
}
{% if needscomma.append(true) %}{% endif %}{# this is a kludge but otherwise I cannot modify the variable outside of the inner loops' scope #}
{% endif %}

{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
]
