<source>
  @type tail
  path /var/log/httpd/*access*.log
  pos_file /var/log/td-agent/httpd-access.log.pos # This is where you record file position
  tag apache.access #fluentd tag!
  format apache2 # Do you have a custom format? You can write your own regex.
</source>

<source>
  @type tail
  path /var/log/httpd/*error*.log
  pos_file /var/log/td-agent/httpd-error.log.pos # This is where you record file position
  tag apache.error #fluentd tag!
  format apache2 # Do you have a custom format? You can write your own regex.
</source>
