Defaults:sensu env_keep += "OS_AUTH_URL OS_USERNAME OS_PASSWORD OS_TENANT_NAME OS_NO_CACHE OS_CACERT"
Defaults:sensu secure_path="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/etc/sensu/plugins"
sensu ALL= NOPASSWD: /etc/sensu/plugins/* *
