 {
  "apiVersion": "v1",
  "kind": "Secret",
  "metadata": {
    "name": "{{ oce_secret_name }}"
  },
  "namespace": "{{ oce_projectname }}",
  "data": { 
    "username": "{{ oce_username }}",
    "password": "{{ oce_password }}"
    }
}

