#
# Description: This method is used to Customize the Openstack Provisioning Request
#

require 'socket'

# Get provisioning object
prov = $evm.root["miq_provision"]

$evm.root.attributes.sort.each { |k, v| $evm.log("info", "Root:<$evm.root> Attribute - #{k}: #{v}")}
prov.attributes.sort.each { |k, v| $evm.log("info", "Root:<$evm.root> Attribute - #{k}: #{v}")}

source_ems_id=prov.get_option(:src_ems_id)
$evm.log("info", "EVM Source ID: #{source_ems_id}")

ems=$evm.vmdb("ext_management_system").find_by_id(source_ems_id)

size=prov.get_option(:flavor)

size="#{size}".downcase.gsub('_','.')

$evm.log("info", "flavors: #{ems.flavors.inspect}")

id=0
name=""

ems.flavors.each do |flavor|
  name=flavor["name"]
  $evm.log("info", "Comparing #{name} with #{size}")
  if name == "#{size}" then
    id=flavor["id"]
    break
  end
end

$evm.log("info", "Setting flavor ID: #{id} and name: #{name}")
prov.set_option(:instance_type,[id,name]) unless id==0

hostname = Socket.gethostname
domainname=hostname.split('.')[1,hostname.length].join('.')
$evm.log("info", "Storing Domain Name #{domainname} for use in cloud-init")
prov.set_option(:domainname,domainname)


@servicename=prov.get_option(:name)
$evm.log("info","Looking for Unmanaged as part of the service name: #{@servicename}")
if "#{@servicename}".match("UnManaged")
   $evm.log("info","Setting management_status tag to unmanaged")
   prov.add_tag("management_status","unmanaged")
else
   $evm.log("info","Setting management_status tag to managed")
   prov.add_tag("management_status","managed")
end

# BEGIN WOLFRAM LDAP INTEGRATION
require 'rubygems'
require 'net/ldap'

treebase = "cn=users,cn=accounts,dc={{ hailstorm_dns_domain | regex_replace('\.',',dc=') }}"
ldap = Net::LDAP.new :host => "{{ hostvars['ipa'].vm_nics[0].ip }}",
     :port => 389,
     :auth => {
           :method => :simple,
           :username => "uid=cfme-bind-user,#{treebase}",
           :password => "{{ root_password }}"
     }
filter = Net::LDAP::Filter.eq( "uid", prov.miq_request.requester.userid )
ldapentry = ldap.search( :base => treebase, :filter => filter ).first
fields = ['ipasshpubkey','mail']
if ldapentry != nil
  $evm.log("info","retrieved ldap record for #{ldapentry.dn}:")
  ldapentry.each do |attribute,values|
    $evm.log("info","- #{attribute}")
    if fields.include? attribute
      prov.set_option('ldap_' + attribute, values.first)
    end
    values.each do |value|
      $evm.log("info","-- #{value}")
    end
  end
else
  $evm.log("info","did not find ldap record for #{prov.miq_request.requester.userid}")
end
# END WOLFRAM LDAP INTEGRATION
