<?xml version="1.0" encoding="UTF-8"?>
<xsl:stylesheet xmlns:xsl="http://www.w3.org/1999/XSL/Transform" xmlns:hs="https://github.com/wrichter/hailstorm" version="1.0">
   <!-- Identity transform -->
   <xsl:template match="@* | node()">
      <xsl:copy>
         <xsl:apply-templates select="@* | node()"/>
      </xsl:copy>
   </xsl:template>

   <xsl:template match="domain[not(metadata)]">
      <domain>
      <xsl:copy-of select="@*|b/@*" />
      <metadata>
        <xsl:call-template name="iptables"/>
      </metadata>
      <xsl:apply-templates />
      </domain>
   </xsl:template>

   <xsl:template match="metadata[not(hs:iptables)]">
      <xsl:copy-of select="."/>
      <xsl:call-template name="iptables"/>
   </xsl:template>

   <xsl:template match="hs:iptables">
      <xsl:call-template name="iptables"/>
   </xsl:template>

   <xsl:template name="iptables">
      <hs:iptables>
        {% for mapping in external_network_config.services_network_dnat.mapping %}
        {% if mapping.expose_machine == inventory_hostname_short %}
        {% for port in mapping.ports %}
        <rule>PREROUTING -t nat -p {{ port.proto }} --dport {{ port.from_port }} -d {{ mapping.on_host_prefix }} -j DNAT --to {{ vm_nics[0].ip }}:{{ port.to_port }}</rule>
        <rule>FORWARD -t filter -o {{ infrastructure_network_services.bridge }} -p {{ port.proto }} -d {{ vm_nics[0].ip }} --dport {{ port.to_port }} -j ACCEPT</rule>
        {% endfor %}
        {% endif %}
        {% endfor %}
      </hs:iptables>
   </xsl:template>
</xsl:stylesheet>
