<storage_domain><name>{{ item.item.name }}</name><type>{{ item.item.type }}</type><storage><type>nfs</type><address>{{ infrastructure_network_admin.host_prefix | ipaddr('address') }}</address><path>{{ item.item.path }}</path></storage><host><name>{{ rhevh_up.stdout }}</name></host></storage_domain>
