<storage_domain><name>{{ item.item.domainname }}</name><type>{{ item.item.type }}</type><storage><type>nfs</type><address>{{ infrastructure_address_nfs_server }}</address><path>{{ item.item.path }}</path><nfs_version>auto</nfs_version></storage><host><name>{{ rhevh_up.stdout }}</name></host></storage_domain>
