{
  "type":"ManageIQ::Providers::Hawkular::MiddlewareManager",
  "name":"HawkularMiddlewareManager",
  "hostname":"manager-cf-mwmgr.{{ ocp_apps_dns_domain }}",
  "port":"80",
  "credentials" : {
    "userid"    : "user",
    "password"  : "user"
  }
}
