<interface type='bridge' name='{{ infrastructure_network_guests.bridge }}'>
  <start mode='onboot'/>
  <bridge stp='off' delay='2'>
    <interface type='ethernet' name='{{ external_network_config.guest_network_bridging.layer1_dev }}'>
    </interface>
  </bridge>
</interface>
