{
  "type"      : "ManageIQ::Providers::Openshift::ContainerManager"
  "name"      : "{{ hostvars['rhevm'].hostname }}",
  "hostname"  : "{{ hostvars['rhevm'].hostname }}",
  "ipaddress" : "{{ hostvars['rhevm'].vm_nics[0].ip }}",
  "credentials" : [{
    "auth_type" : "bearer",
    "auth_key"  : "{{ ose_cmfe_token }}"
  },{
    "userid"    : "cfme",
    "password"  : "smartvm",
  }]
}
